In [1]:
#import 
import pandas as pd
import numpy as np
import bz2
import json

# Speaker cleaning - M2

In [ ]:
#Load speaker attributes parquet file
dfattrib = pd.read_parquet("speaker_attributes.parquet/speaker_attributes.parquet")

#Load QID correspondance file and remove description column
dflabels = pd.read_csv('wikidata_labels_descriptions_quotebank.csv.bz2', compression='bz2', index_col = 'QID')
dflabels = dflabels.drop(['Description'], axis=1)

In [5]:
def get_qid_label(df, dflabels):
    '''
    Replace Wikidata Qids with the corresponding text
    '''
    for col in df.columns:
        try:
            df.loc[:, col] = df.loc[:, col].apply(lambda x: [dflabels.loc[cat].item() for cat in x] if x is not None else x)
        except:
            continue

    return df

Functions done to make the dataset cleaner, will be used later in the project

In [33]:
def CleanGender(df):
    for i in range(int(df['gender'].count())):
        try:
            if np.shape(df['gender'].loc[i])[0]>1: # More than one element in the list
                df['gender'].loc[i] = 'other'
            else:
                df['gender'].loc[i] = df['gender'].loc[i][0] # Take element out of the list
        except:
            df['gender'].loc[i] = 'None' # Exception
            continue
    return df

In [34]:
def CleanNationality(df):
    for i in range(int(df['nationality'].count())):
        try:
            if np.shape(df['nationality'].loc[i])[0]>1: # More than one element in the list
                df['nationality'].loc[i] = 'Mixed'
            else:
                df['nationality'].loc[i] = df['nationality'].loc[i][0] # Take element out of the list
        except:
            df['nationality'].loc[i] = 'None' # Exception
            continue
    return df

In [35]:
def CleanBirthDate(df):
    for i in range(int(df['date_of_birth'].count())):
        try:
            if np.shape(df['date_of_birth'].loc[i])[0]>1: # More than one element in the list
                df['date_of_birth'].loc[i] = 'None'
            s = df['date_of_birth'].loc[i][0]
            df['date_of_birth'].loc[i] = int(s[1:5])
        except:
            df['date_of_birth'].loc[i] = 'None' # Exception
            continue
    return df

In [36]:
def CleanEthnicGroup(df):
    for i in range(int(df['ethnic_group'].count())):
        try:
            if np.shape(df['ethnic_group'].loc[i])[0]>1: # More than one element in the list
                df['ethnic_group'].loc[i] = 'None'
            else:
                df['ethnic_group'].loc[i] = df['ethnic_group'].loc[i][0] # Take element out of the list
        except:
            df['ethnic_group'].loc[i] = 'None' # Exception
            continue
    return df

In [37]:
def CleanReligion(df):
    for i in range(int(df['religion'].count())):
        try:
            if np.shape(df['religion'].loc[i])[0]>1: # More than one element in the list
                df['religion'].loc[i] = 'None'
            else:
                df['religion'].loc[i] = df['religion'].loc[i][0] # Take element out of the list
        except:
            df['religion'].loc[i] = 'None' # Exception
            continue
    return df

In [38]:
def CleanAcademicDegree(df):
    for i in range(int(df['academic_degree'].count())):
        try:
            df['academic_degree'].loc[i] = df['academic_degree'].loc[i][0] # Take element out of the list
        except:
            df['academic_degree'].loc[i] = 'None' # Exception
            continue
    return df

In [6]:
dflabels = pd.read_csv('wikidata_labels_descriptions_quotebank.csv.bz2', compression='bz2', index_col = 'QID')
dflabels = dflabels.drop(['Description'], axis=1)
dflabels

                                                        Label
QID
Q31                                                   Belgium
Q45                                                  Portugal
Q75                                                  Internet
Q148                               People's Republic of China
Q155                                                   Brazil
...                                                       ...
Q106302506                                      didgeridooist
Q106341153                               biochemistry teacher
Q106368830  2018 Wigan Metropolitan Borough Council electi...
Q106369692  2018 Wigan Metropolitan Borough Council electi...
Q106376887                                                NaN

[36969 rows x 1 columns]

In [7]:
#Merge quotes file and speaker attributes file based on the unique qid of the speaker
dfmerged = dfquotes.merge(dfattrib.set_index('id'), left_index=True, right_index=True)
dfmerged.head(5)

,quoteID,quotation,speaker,prob,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,label,candidacy,type,religion
id,,,,,,,,,,,,,,,,,,
Q1000053,2020-01-30-115748,We stress that any attempts to fuel the confli...,Vasily Nebenzya,0.9429,None,[+1962-02-26T00:00:00Z],"[Q159, Q15180]",[Q6581097],1391394799,None,None,"[Q193391, Q82955]",None,None,Vasily Nebenzya,None,item,None
Q1000053,2020-01-30-110614,We consistently send signals to abandon aggres...,Vasily Nebenzya,0.5209,None,[+1962-02-26T00:00:00Z],"[Q159, Q15180]",[Q6581097],1391394799,None,None,"[Q193391, Q82955]",None,None,Vasily Nebenzya,None,item,None
Q1000053,2020-02-26-086429,We understand the concerns of a number of non-...,Vasily Nebenzya,0.9361,None,[+1962-02-26T00:00:00Z],"[Q159, Q15180]",[Q6581097],1391394799,None,None,"[Q193391, Q82955]",None,None,Vasily Nebenzya,None,item,None
Q1000053,2020-02-25-076403,"We cannot agree to that kind of approach,",Vasily Nebenzya,0.9680,None,[+1962-02-26T00:00:00Z],"[Q159, Q15180]",[Q6581097],1391394799,None,None,"[Q193391, Q82955]",None,None,Vasily Nebenzya,None,item,None
Q1000053,2020-01-09-098083,violation and noncompliance of international law.,Vasily Nebenzya,0.9364,None,[+1962-02-26T00:00:00Z],"[Q159, Q15180]",[Q6581097],1391394799,None,None,"[Q193391, Q82955]",None,None,Vasily Nebenzya,None,item,None

In [8]:
#Apply the function that changes the qids by their corresponding label
dffinal = get_qid_label(dfmerged, dflabels)

In [9]:
dffinal

,quoteID,quotation,speaker,prob,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,label,candidacy,type,religion
id,,,,,,,,,,,,,,,,,,
Q1000053,2020-01-30-115748,We stress that any attempts to fuel the confli...,Vasily Nebenzya,0.9429,None,[+1962-02-26T00:00:00Z],"[Russia, Soviet Union]",[male],1391394799,None,None,"[Q193391, Q82955]",None,None,Vasily Nebenzya,None,item,None
Q1000053,2020-01-30-110614,We consistently send signals to abandon aggres...,Vasily Nebenzya,0.5209,None,[+1962-02-26T00:00:00Z],"[Russia, Soviet Union]",[male],1391394799,None,None,"[Q193391, Q82955]",None,None,Vasily Nebenzya,None,item,None
Q1000053,2020-02-26-086429,We understand the concerns of a number of non-...,Vasily Nebenzya,0.9361,None,[+1962-02-26T00:00:00Z],"[Russia, Soviet Union]",[male],1391394799,None,None,"[Q193391, Q82955]",None,None,Vasily Nebenzya,None,item,None
Q1000053,2020-02-25-076403,"We cannot agree to that kind of approach,",Vasily Nebenzya,0.9680,None,[+1962-02-26T00:00:00Z],"[Russia, Soviet Union]",[male],1391394799,None,None,"[Q193391, Q82955]",None,None,Vasily Nebenzya,None,item,None
Q1000053,2020-01-09-098083,violation and noncompliance of international law.,Vasily Nebenzya,0.9364,None,[+1962-02-26T00:00:00Z],"[Russia, Soviet Union]",[male],1391394799,None,None,"[Q193391, Q82955]",None,None,Vasily Nebenzya,None,item,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Q999711,2020-03-19-074326,This is his home racetrack and that also makes...,Steve Fitzsimmons,0.7526,None,[+1976-09-07T00:00:00Z],[Australia],[male],1313714618,None,None,[Q937857],None,None,Steve Fitzsimmons,None,item,None
Q999711,2020-02-27-066900,The Hanover Bentinck and Brant Agricultural So...,Steve Fitzsimmons,0.5578,None,[+1976-09-07T00:00:00Z],[Australia],[male],1313714618,None,None,[Q937857],None,None,Steve Fitzsimmons,None,item,None
Q999711,2020-03-05-074250,This is a very unique opportunity for me. My f...,Steve Fitzsimmons,0.7475,None,[+1976-09-07T00:00:00Z],[Australia],[male],1313714618,None,None,[Q937857],None,None,Steve Fitzsimmons,None,item,None
Q999711,2020-02-27-077480,This is a very unique opportunity for me. My f...,Steve Fitzsimmons,0.6221,None,[+1976-09-07T00:00:00Z],[Australia],[male],1313714618,None,None,[Q937857],None,None,Steve Fitzsimmons,None,item,None
Q999711,2020-03-05-034322,I'm very grateful to the agricultural society ...,Steve Fitzsimmons,0.7473,None,[+1976-09-07T00:00:00Z],[Australia],[male],1313714618,None,None,[Q937857],None,None,Steve Fitzsimmons,None,item,None

In [ ]:
dffinal = dffinal.drop(['aliases', 'lastrevid', 'US_congress_bio_ID', 'party', 'label', 'occupation', 'candidacy', 'type'], axis=1)

In [45]:
dffinal

,quoteID,quotation,speaker,prob,date_of_birth,nationality,gender,ethnic_group,academic_degree,religion
id,,,,,,,,,,
Q1000053,2020-01-30-115748,We stress that any attempts to fuel the confli...,Vasily Nebenzya,0.9429,[+1962-02-26T00:00:00Z],"[Russia, Soviet Union]",[male],None,None,None
Q1000053,2020-01-30-110614,We consistently send signals to abandon aggres...,Vasily Nebenzya,0.5209,[+1962-02-26T00:00:00Z],"[Russia, Soviet Union]",[male],None,None,None
Q1000053,2020-02-26-086429,We understand the concerns of a number of non-...,Vasily Nebenzya,0.9361,[+1962-02-26T00:00:00Z],"[Russia, Soviet Union]",[male],None,None,None
Q1000053,2020-02-25-076403,"We cannot agree to that kind of approach,",Vasily Nebenzya,0.9680,[+1962-02-26T00:00:00Z],"[Russia, Soviet Union]",[male],None,None,None
Q1000053,2020-01-09-098083,violation and noncompliance of international law.,Vasily Nebenzya,0.9364,[+1962-02-26T00:00:00Z],"[Russia, Soviet Union]",[male],None,None,None
...,...,...,...,...,...,...,...,...,...,...
Q999711,2020-03-19-074326,This is his home racetrack and that also makes...,Steve Fitzsimmons,0.7526,[+1976-09-07T00:00:00Z],[Australia],[male],None,None,None
Q999711,2020-02-27-066900,The Hanover Bentinck and Brant Agricultural So...,Steve Fitzsimmons,0.5578,[+1976-09-07T00:00:00Z],[Australia],[male],None,None,None
Q999711,2020-03-05-074250,This is a very unique opportunity for me. My f...,Steve Fitzsimmons,0.7475,[+1976-09-07T00:00:00Z],[Australia],[male],None,None,None
Q999711,2020-02-27-077480,This is a very unique opportunity for me. My f...,Steve Fitzsimmons,0.6221,[+1976-09-07T00:00:00Z],[Australia],[male],None,None,None
Q999711,2020-03-05-034322,I'm very grateful to the agricultural society ...,Steve Fitzsimmons,0.7473,[+1976-09-07T00:00:00Z],[Australia],[male],None,None,None

In [67]:
dffinal['nationality'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[United States of America]             1066919
[United Kingdom]                        248436
[India]                                 125727
[Canada]                                103010
[Australia]                              99489
                                        ...
[Austria, Tunisia]                           1
[Kingdom of the Netherlands, Aruba]          1
[France, Hungary]                            1
[São Tomé and Príncipe]                      1
[Norway, Malaysia, Canada]                   1
Name: nationality, Length: 1662, dtype: int64

In [10]:
dffinal.gender.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[male]                                         1899635
[female]                                        563199
[transgender female]                              2721
[non-binary]                                      1448
[genderfluid]                                      895
[transgender male]                                 392
[female, non-binary]                               182
[shemale]                                          112
[non-binary, female]                               111
[genderqueer]                                      106
[cisgender male]                                    73
[cisgender female]                                  57
[cisgender female, intersex]                        47
[non-binary, transgender person]                    33
[male, female]                                      24
[transmasculine, bigender]                          23
[transgender female, male]                          19
[female, male]                                       7
[female, intersex]                                   6
[male, transgender female]                           4
[female, māhū]                                       4
[male, genderfluid]                                  4
[genderfluid, male]                                  3
[female, cisgender female]                           3
[intersex, male]                                     3
[eunuch, male]                                       3
[intersex, non-binary]                               3
[transgender male, non-binary, genderqueer]          3
[female, transgender male]                           3
[agender]                                            3
[female, two-spirit]                                 2
[third gender]                                       2
[neutrois]                                           2
[female, female]                                     1
[non-binary, agender]                                1
[transgender female, female]                         1
[male, intersex]                                     1
[intersex, genderqueer]                              1
[intersex, male, female]                             1
Name: gender, dtype: int64

In [ ]:
#Clean Data, which will be performed when merging the speakers and quotes features
CleanBirthDate(dffinal)


#Clean Gender
CleanGender(dffinal)


#Clean Nationality
CleanNationality(dffinal)


#Clean Ethnic Group
CleanEthnicGroup(dffinal)


#Clean Religion
CleanReligion(dffinal)

#Clean AcademicDegree
CleanAcademicDegree(dffinal)
print(dffinal.head(5))

# Speaker cleaning extended - M3

### NOTE: Only need to run this script once

In [ ]:
#Data Cleaning Notebook
#Load speaker attributes parquet file
dfattrib = pd.read_parquet("/content/drive/MyDrive/ADA/speaker_attributes.parquet/speaker_attributes.parquet")

#Load QID correspondance file and remove description column
dflabels = pd.read_csv('/content/drive/MyDrive/ADA/wikidata_labels_descriptions_quotebank.csv.bz2', compression='bz2', index_col = 'QID')
dflabels = dflabels.drop(['Description'], axis=1)

In [ ]:
#Drop
dfattrib = dfattrib.drop(['aliases','lastrevid','US_congress_bio_ID','party','candidacy','type','label',\
                          'ethnic_group'], axis=1) #Remove

In [ ]:
#Extract the first element only
dfattrib["date_of_birth"] = dfattrib["date_of_birth"].apply(lambda x: x[0] if x is not None else x) 
dfattrib["gender"] = dfattrib["gender"].apply(lambda x: x[0] if x is not None else x) 
dfattrib["occupation"] = dfattrib["occupation"].apply(lambda x: x[0] if x is not None else x)
dfattrib["nationality"] = dfattrib["nationality"].apply(lambda x: x[0] if x is not None else x) 
dfattrib["religion"] = dfattrib["religion"].apply(lambda x: x[0] if x is not None else x) 
dfattrib["academic_degree"] = dfattrib["academic_degree"].apply(lambda x: x[0] if x is not None else x)

In [ ]:
#Missing labels
Missing =  ['Q6296256','Q3268166','Q11815360','Q12014399','Q16287483','Q20432251','Q21550646','Q13365117',\
            'Q13424794','Q1248362','Q3186984','Q6859927','Q15145782','Q15991263','Q99753484','Q12455619',\
            'Q5568256','Q6363085','Q11819457','Q11819457','Q12334852','Q15145783','Q11815360']

In [ ]:
#Replace missing
dfattrib["occupation"] = dfattrib["occupation"].apply(lambda x: None if x in Missing else x) 
dfattrib["gender"] = dfattrib["gender"].apply(lambda x: None if x in Missing else x)
dfattrib["religion"] = dfattrib["religion"].apply(lambda x: None if x in Missing else x) 
dfattrib["nationality"] = dfattrib["nationality"].apply(lambda x: None if x in Missing else x) 
dfattrib["academic_degree"] = dfattrib["academic_degree"].apply(lambda x: None if x in Missing else x)

In [ ]:
#Change QIDs
dfattrib["gender"] = dfattrib["gender"].apply(lambda x: dflabels.loc[x].item() if x is not None else x) 
dfattrib["nationality"] = dfattrib["nationality"].apply(lambda x: dflabels.loc[x].item() if x is not None else x)  
dfattrib["religion"] = dfattrib["religion"].apply(lambda x: dflabels.loc[x].item() if x is not None else x)  
dfattrib["occupation"] = dfattrib["occupation"].apply(lambda x: dflabels.loc[x].item() if x is not None else x)
dfattrib["academic_degree"] = dfattrib["academic_degree"].apply(lambda x: dflabels.loc[x].item() if x is not None else x)

In [ ]:
dfattrib = dfattrib.set_index('id')

In [ ]:
#Clean Date of Birth
dfattrib["date_of_birth"] = dfattrib["date_of_birth"].astype('string')
birth_outlier = dfattrib["date_of_birth"].iloc[4555848]
dfattrib["date_of_birth"] = dfattrib["date_of_birth"].apply(lambda x: -9999 if not isinstance(x, str) else -9999 if x == birth_outlier else x)
dfattrib["date_of_birth"] = dfattrib["date_of_birth"].apply(lambda x: int(x[1:5]) if isinstance(x, str)  else -9999)
dfattrib["date_of_birth"] = dfattrib["date_of_birth"].astype(float)
dfattrib = dfattrib[(dfattrib["date_of_birth"]>1928) & (dfattrib["date_of_birth"]<2016)]

In [ ]:
dfattrib.to_csv("/content/drive/MyDrive/ADA/df_speaker_raw.csv.gzip", header=True, index=True, compression="gzip")

## Processing

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/ADA/df_speaker_raw.csv.gzip', compression="gzip")

In [ ]:
#Fix genders
Male = ['male']
Female = ['female']
All = Male + Female
df["gender"] = df["gender"].apply(lambda x: x if x is not None else x)
df["gender"] = df["gender"].apply(lambda x: 'Male' if x in Male else 'Female' if x in Female else 'Other' if (x not in All and not None) else x)

In [ ]:
#Fix academic
Master = ['master', 'masters']
Bachelor = ['bachelor', 'bachelors']
Doctorate = ['doctorate','doctor','doktor']
All = ['master', 'masters', 'bachelor', 'bachelors', 'doctorate','doctor','doktor']
df["academic_degree"] = df["academic_degree"].apply(lambda x: None if not isinstance(x,str) else 'Master' if any(ext in x.lower() for ext in Master) else 'Bachelor' if any(ext in x.lower() for ext in Bachelor) else 'Doctorate' if any(ext in x.lower() for ext in Doctorate) else 'Other' if not any(ext in x.lower() for ext in All) else x)

In [ ]:
#Fix religion
Christians = ['church', 'luther', 'anglican', 'catho', 'protest', 'presby', 'calvinism', 'purita', 'christ']
Muslims = ['sunni', 'chiisme', 'shia', 'islam', 'shiisme', 'druz']
Jewish = ['jewish','synago','jew', 'hebrew', 'juda', 'hebr', 'israel', 'yiddish']
Hindus = ['hind', 'budd', 'shiva']
All = ['church', 'luther', 'anglican', 'catho', 'protest', 'presby', 'calvinism', 'purita', 'christ', 'sunni', \
       'chiisme', 'shia', 'islam', 'shiisme', 'druz', 'jewish','synago','jew', 'hebrew', 'juda', 'hebr', 'israel',\
       'yiddish', 'hind', 'budd', 'shiva']
df["religion"] = df["religion"].apply(lambda x: None if not isinstance(x,str) else 'Christian' if any(ext in x.lower() for ext in Christians) else 'Muslim' if any(ext in x.lower() for ext in Muslims) else 'Jewish' if any(ext in x.lower() for ext in Jewish) else 'Hindus' if any(ext in x.lower() for ext in Hindus) else 'Other' if not any(ext in x.lower() for ext in All) else x)

In [ ]:
#Fix academic
Sports = ['coach','ball','athl','weight','sport','player','swimmer','skier','racing']
Arts = ['actor','director','author','pres','anch','arch','art','danc','sing','act','paint','composer','pianist',\
        'violinist','guitarist','drummer','music','art','write','wright','comed','film','poet','chore','graph',\
        'edit','prod','sculpt','hist','geo','journ','law','judge','speak','sax','sing','dance','draw','book','lyric','design']
Sciences = ['novel','philo','scien','research','engin','tech','med','nurse','phys','chem','mech','elec','psych',\
            'prof','math','bio','schol','surgeon','lab','botan','teacher','university']
Politics = ['dipl','polit','ruler','minister','dep','president','gov']
Military = ['sold','milit','gener','armed','army','war','force']
Religion = ['catho','priest','imam','church','buddh','pastor','mission','theolog','clergy','christian','muslim','jewish',\
            'rabbi','monk']
Business = ['econ','business','entrepr','manager','exec']
All = Sports + Arts + Sciences + Politics + Military + Religion + Business
df["occupation"] = df["occupation"].apply(lambda x: None if not isinstance(x,str) else 'Sports' if any(ext in x.lower() for ext in Sports) else 'Arts' if any(ext in x.lower() for ext in Arts) else 'Politics' if any(ext in x.lower() for ext in Politics) else 'Military' if any(ext in x.lower() for ext in Military) else 'Sciences' if any(ext in x.lower() for ext in Sciences) else 'Religion' if any(ext in x.lower() for ext in Religion) else 'Business' if any(ext in x.lower() for ext in Business) else 'Other' if not any(ext in x.lower() for ext in All) else x)

In [ ]:
#Fix academic
Sports = ['coach','ball','athl','weight','sport','player','swimmer','skier','racing']
Arts = ['actor','director','author','pres','anch','arch','art','danc','sing','act','paint','composer','pianist','violinist','guitarist','drummer','music','art','write','wright','comed','film','poet','chore','graph','edit','prod','sculpt','hist','geo','journ','law','judge','speak','sax','sing','dance','draw','book','lyric','design']
Sciences = ['novel','philo','scien','research','engin','tech','med','nurse','phys','chem','mech','elec','psych','prof','math','bio','schol','surgeon','lab','botan','teacher','university']
Politics = ['dipl','polit','ruler','minister','dep','president','gov']
Military = ['sold','milit','gener','armed','army','war','force']
Religion = ['catho','priest','imam','church','buddh','pastor','mission','theolog','clergy','christian','muslim','jewish','rabbi','monk']
Business = ['econ','business','entrepr','manager','exec']
All = Sports + Arts + Sciences + Politics + Military + Religion + Business
df["occupation"] = df["occupation"].apply(lambda x: None if not isinstance(x,str) else 'Sports' if any(ext in x.lower() for ext in Sports) else 'Arts' if any(ext in x.lower() for ext in Arts) else 'Politics' if any(ext in x.lower() for ext in Politics) else 'Military' if any(ext in x.lower() for ext in Military) else 'Sciences' if any(ext in x.lower() for ext in Sciences) else 'Religion' if any(ext in x.lower() for ext in Religion) else 'Business' if any(ext in x.lower() for ext in Business) else 'Other' if not any(ext in x.lower() for ext in All) else x)

df.head(5)

In [ ]:
df.to_csv("/content/drive/MyDrive/ADA/df_speaker_cooked.csv.gzip", header=True, index=True, compression="gzip")

## Check output file

In [ ]:
df_cooked = pd.read_csv('/content/drive/MyDrive/ADA/df_speaker_cooked.csv.gzip', compression="gzip")
df_raw = pd.read_csv('/content/drive/MyDrive/ADA/df_speaker_raw.csv.gzip', compression="gzip")
df_raw[df_cooked["occupation"]=='Other']["occupation"].value_counts()[0:20]

In [ ]:
df_cooked["date_of_birth"].value_counts()